body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.container{
  display: grid;
  grid-template-areas: 
  "header header"
  "main aside"
  "footer footer";
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
}

header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  background-color: plum;
  padding: 25px;
}

h1, h2, h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

h3{
  color: brown;
  font-size: 22px;
}

p, ul{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

main{
  grid-area: main;
  padding-left: 35px;
  padding-top: 25px;
}

aside{
  grid-area: aside;
  padding: 25px;
  margin: 10px;
}

footer{
  grid-area: footer;
  text-align: center;
  color: #FFFFFF;
  background-color: #2C5282;
  padding: 1px;
}